.home {
  color: var(--white);
  max-width: 84.375rem;
  margin: auto;

  @media only screen and (max-width: 84.6875em) {
    padding: 0 1.25rem;
  }

  &__banner {
    width: 100%;
    height: 100%;
    margin: auto;

    img {
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: 62.5rem) {
      height: 12.5rem;
      margin-bottom: 1.25rem;
    }
  }

  &__products {
    margin-bottom: 1.875rem;
    min-height: 330px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.625rem;

      @media only screen and (max-width: 22.5em) {
        flex-direction: column;
        gap: 0.625rem;
        margin-bottom: 1.875rem;
      }

      &__title {
        font-size: 2.5rem;
      }

      &__btn {
        font-size: 1rem;
        border: 0.0625rem var(--white) solid;
        border-radius: 0.625rem;
        padding: 0.3125rem 1.25rem;
        cursor: pointer;
        color: inherit;
        text-decoration: none;

        &:hover {
          background-color: var(--white);
          color: var(--black);
        }
      }
    }

    &__container {
      justify-content: center;
      display: flex;
      gap: 0.625rem;
      flex-wrap: wrap;
    }
  }

  &__aboutUs {
    max-width: 34.375rem;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 44.375em) {
      text-align: center;
      margin-inline: auto;
    }

    &__title {
      font-size: 2.5rem;
      margin-bottom: 0.625rem;
    }

    &__text {
      font-size: 1rem;
    }
  }
}
