.products {
  margin: auto;
  max-width: 84.375rem;
  color: var(--white);
  padding: 1.25rem 0 3.125rem;

  @media only screen and (max-width: 84.6875em) {
    padding: 1.25rem 20px 3.125rem;
    margin: 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  &__container {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
