.cart {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(101%);
  width: 35vw;
  min-width: 440px;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: transform 0.2s;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 850px) {
    width: 50vw;
  }

  @media only screen and (max-width: 500px) {
    min-width: 85vw;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--black) solid;
    padding: 10px 15px;

    &__icon {
      display: flex;
      align-items: center;
      gap: 10px;

      &__img {
        max-width: 20px;
      }
      &__text {
        font-weight: 600;
      }
    }

    &__close {
      max-width: 40px;
      transition: background 0.1s;
      border-radius: 50%;
      transform: rotate(45deg);
      cursor: pointer;

      &:hover {
        background-color: var(--red);
      }
    }
  }

  &__products {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    height: 100%;

    &__item {
      display: flex;
      align-items: center;
      gap: 15px;

      &__img {
        max-width: 50px;
      }

      &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__title {
          font-weight: 600;
        }

        &__details {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;

          &__amount {
            margin: auto;
          }

          &__trashIcon {
            margin-left: auto;
            max-width: 20px;
            cursor: pointer;

            &:hover {
              background-color: var(--red);
            }
          }
        }
      }
    }
  }

  &__invoice {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 30px;

    &__item {
      display: flex;
      justify-content: space-between;
      font-weight: 600;

      &__num {
        font-weight: inherit;
      }
    }

    .total {
      font-weight: 800;
    }

    .color-1 {
      background-color: #d0d0d0;
    }

    .color-2 {
      background-color: #eeeeee;
    }
  }

  &__footer {
    padding: 10px 15px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    &__continue {
      color: inherit;
    }

    &__checkout {
      width: 200px;
      height: 50px;
      color: inherit;
      font-size: 20px;
      background-color: var(--main-color);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.open {
  transform: translateX(0);
}
