.footer {
  display: grid;
  place-content: center;
  gap: 2.5rem;
  background-color: var(--black);
  padding: 3.125rem 0 1.25rem;
  color: var(--white);

  &__contact {
    display: flex;
    gap: 4.375rem;

    @media only screen and (max-width: 27.5em) {
      flex-direction: column;
      gap: 2.5rem;
    }

    &__network {
      width: 10rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      @media only screen and (max-width: 27.5em) {
        align-items: center;
      }

      &__container-icons {
        display: flex;
        gap: 0.5rem;

        &__icon {
          max-width: 1.875rem;
        }
      }
    }

    &__contact {
      width: 10rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media only screen and (max-width: 27.5em) {
        align-items: center;
      }

      &__info {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 0.625rem;
  }
}

.footer__title {
  font-size: 1rem;
  font-weight: 600;
}
