.product {
  width: 330px;
  height: 330px;
  position: relative;
  overflow: hidden;
  color: var(--black);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform box-shadow 0.2s;

  &:hover {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-1px, -1px);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 85%;
    object-fit: contain;
    padding: 40px 20px 10px;
    cursor: pointer;
  }

  &__title {
    position: relative;
    text-align: center;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__price {
      font-size: 30px;
      text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white),
        0 -1px var(--white);
    }

    &__cart {
      position: relative;
      z-index: 100;
      max-width: 35px;
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.2s;
      &:hover {
        background-color: var(--black);
      }

      &__popup {
        position: absolute;

        left: -10px;
        background-color: var(--green);
        border-radius: 10px;
        padding: 1px 5px;
        font-size: 14px;
        color: var(--white);
        animation: popup 1.1s ease-out;

        &::before {
          content: '';
          position: absolute;
          background-color: var(--green);
          width: 12px;
          height: 12px;
          left: 0;
          right: 0;
          top: 15px;
          margin-inline: auto;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
        }

        @keyframes popup {
          0% {
            top: 0px;
            opacity: 0;
          }
          50% {
            top: -30px;
            opacity: 1;
          }
          100% {
            opacity: 0;
            top: -20px;
          }
        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -10;
  }
}

.loader {
  display: grid;
  place-content: center;
}
